//? Import other stylesheers
@import "Variables";
@import "_Fonts";
@import "BasicComponents";
@import "Widgets";

.Course-Content {
  background-color: $background;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
html {
  background-color: $background;
  font-family: Montserrat;
  color: $tfo_black;
  overflow-y: visible;
  scrollbar-gutter: stable;
  button {
    cursor: pointer;
  }
}
